[submodule "components/ads1115"]
	path = components/ads1115
	url = https://github.com/hellvesper/esp8266-ads1115.git
[submodule "components/screen"]
	path = components/screen
	url = https://github.com/hellvesper/esp8266-idf-screen-component.git
